*.pyc
runs/
*.npz
*.npy
*.pt
*.pth
*.ckpt
*.tfevents*
*.egg-info/
*.log

*/__pycache__/
nn/

train_dir/
wandb/
runs/
rollout_viz/
rollout_viz*/
paper/
/*.pdf

aerial_gym/rl_training/rl_games/runs
aerial_gym/rl_training/rl_games/nn

third_party/dreamerv3/
third_party/dreamerv3-torch/
aerial_gym/rl_training/dreamerv3/
aerial_gym/rl_training/dreamerv3_torch/
r2dreamer/

yaw_controller_test.png
yaw_position_test.png
aerial_gym/task/drone_racing_task/gate_layout_current.svg
